

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&family=Marcellus&family=Playfair+Display:wght@400;600;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Marcellus', serif;
}

html{
    scroll-behavior: smooth;
}

nav {
    display:flex;
    justify-content:center;
    align-items: center;
    padding-top: 15px;
    position:fixed;
    background-color:#fff9f0 ;
    width: 100%;

}


nav ul li{
    display: inline-block;
    padding: 5px 25px;
    list-style-type: none;
    margin-bottom: 20px;
}

nav ul li a{
    color: #3e62e7;
    text-decoration: none;
    border: 1px solid #9caee5;
    padding: 10px 50px;
    border-radius: 10px;
    transition: all 0.5s;
}


#out{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 150px 0px;
}
#in {
    width: 500px;
    display: inline-block;
    text-align: justify;
}
.in p{
    margin-top: 10px;
}

h2, h5{
    text-align: center;
}

h1{
    padding-top: 15px ;
}

h2{
    margin-bottom: 50px;
}

h5{
    padding: 20px 0px;
}

 h5 a{
    color: #3e62e7;
    text-decoration: none;
}

.rodape{
    padding: 20px 0px;

    background-color: #081f5c;
    color: rgb(247, 245, 245);
}
.rodape p{
    text-align: center;
}
.Ada, .Thais, .Lorena, .Juliana{ 
    width: 100%;
    padding: 150px 0px;
}

.Ada{
    background-color:#fff9f0;
}
.Juliana{
    background-color:#d0e3ff ;
}
.Lorena{
    background-color:#f7f2eb ;
}
.Thais{
    background-color:#edf1f6 ;
}

.imgADA{
    border-radius: 50%;
    border-style: double;
    border-width: 8px;
    border-color: #081f5c;
    justify-content: center;
    margin: 50px 0px 50px 50px;
    width: 400px;
}